@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");

* {
  font-family: Poppins, sans-serif;
}


.my-logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
}

.nav-sections {
  color: #344563;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.section1 {
  min-height: 70vh;
  background: url("./images/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.developer {
  color: #091e42;
  font-weight: 700;
}

.developer-message {
  color: #344563;
  font-size: 20px;
  line-height: 28px;
}

.work-parent {
  margin-top: 200px;
}

.icons {
  list-style-type: none;
  padding-left: 0px;
}

.connect {
  text-decoration: none;
}

.company {
  color: #344563;
  font-size: 18px;
  line-height: 24px;
}

.badges-bg {
  color: #6070ff;
  background-color: #ebebff;
}

.project-description {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.work-data {
  color: #6b778c;
  font-size: 18px;
  line-height: 24px;
}

.about-title {
  color: #091e42;
  font-weight: 700;
}

.about-description {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.no-underline {
  text-decoration: none;
}

.about-card {
  margin-top: 200px;
}

.no-style-type {
  list-style-type: none;
}

.language {
  font-size: 20px;
  color: #344563;;
}

.language-card {
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
}

.contact-parent {
  margin-top: 300px;
}

.contact-paragraph {
  margin-left: 300px;
  margin-right: 300px;
}

.form {
  margin-left: 300px;
  margin-right: 300px;
}
