@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

* {
    font-family: Poppins, sans-serif;
}

.developer {
    color: #091e42;
    font-weight: 700;
}

.developer-message {
    color: #344563;
}

.icons {
    list-style-type: none;
    padding-left: 0px;
}

.connect {
    text-decoration: none;
}